@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Klaida!</h1>
<h2 class="text-danger">Iškilo klaida vykdant pateiktą užklausą.</h2>

<br />

<p> <strong>Prarastas ryšys su duomenų baze!</strong> </p>
